# Sepolia, tBSC
VITE_CHAIN_NAME=tBSC
# Sepolia:11155111 tBSC:97
VITE_CHAIN_ID=97
# Sepolia:0xaa36a7 tBSC:0x61
VITE_CHAIN_ID_HEX=0x61

# "Sepolia ETH", "BNB Smart Chain"
VITE_CURRENCY_NAME="BNB Smart Chain"
# ETH, tBNB
VITE_CURRENCY_SYMBOL=tBNB
# Sepolia:https://rpc.sepolia.org BNB:https://data-seed-prebsc-1-s1.binance.org:8545/
VITE_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
# Sepolia:https://sepolia.etherscan.io BNB:https://testnet.bscscan.com
VITE_BLOCK_EXPLORER_URL=https://testnet.bscscan.com

# Backend API + Socket.io base URL
VITE_API_URL=http://localhost:4000

# Deployed contract addresses (copy from contracts/deployments.json)
VITE_SESSION_REGISTRY_ADDRESS=0xD156BfbB380E2Ca2870af6F269B87ce035430aAE
VITE_ESCROW_ADDRESS=0x804167221A82e80C2b73Ed394a9540E1Fbab0004
VITE_REPUTATION_ADDRESS=0x58eA41b0fCf4dec1f19AD386FDFdB56E9F29Ee6e
VITE_PARTICIPATION_TOKEN_ADDRESS=0x526A3D4e6BCCcCb4fE97E73053f7B4c36724f4eb